
/* Your CSS Code here. */
.container-fluid{
	width:570px;
	height:500px;
/* 	border:1px solid black; */
	display:flex;
	justify-content:space-between;
	display:inline;
	
}
.box{
	width:150px;
	height:150px;

}
